#header {
	background: url("./image/bg-header.jpg") no-repeat center / contain;
	min-height: 824px;
	width: 100%;

}

.header-top {
	display: flex;
	justify-content: space-between;
	align-items: center;
	margin-top: 50px;
	float: left;
	width: 100%;
}

.header-logo {
	display: inline-block;
}

.header-contact {
	font-family: var(--third-font);
	font-size: 16.67px;
	font-weight: bold;
	align-self: baseline;
	position: relative;
}

.header-contact:before {
	content: url("./image/moto_bike.png");
	position: absolute;
	top: 50%;
	left: -20%;
	transform: translateY(-50%);
}

.header-menu{
	float: right;
}
.header-item {
	float: left;
}
.header-item:not(:first-child) {
	margin-left: 5.5rem;
}
.header-link {
	font-family: var(--secondary-font);
	font-size: 20.83px;
	color: var(--primary-color);
	transition: .25s linear;
	text-transform: uppercase;
	font-weight: bold;
}

.header-link:hover {
	color: var(--third-color);
}
